<html>
<h1 style="text-align: center">Clubs Esprit</h1>
<p>Une pédagogie innovante
    L’APP (Apprentissage Par Projets/Problèmes) rend l’étudiant pleinement acteur de sa formation.

    Une reconnaissance internationale des formations d’ingénieur
    En septembre 2017, l'ensemble des formations d'Esprit ont obtenu l’accréditation d'EUR-ACE fournie par l'organisation française CTI (Comité des titres d’ingénieurs)

    Le suivi de l'employabilité de nos étudiants à travers l'enquête 1er emploi
    Chaque année pour une adaptation continuelle de nos formations aux besoins des entreprises.

    Une grande mobilité à l'international
    Plus de 40 possibilités d'avoir une expérience de vie dans un milieu multiculturel

    Le développement des qualités humaines des étudiants
    A travers les enseignements de langue, de culture générale, l'engagement associatif...

    La valorisation des compétences opérationnelles
    Des activités effectivement réalisée</p>
<img  style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" src="{{ asset('esprit.jpg')}}">

<H1> {{ name }}</H1>
</html>